[Unit]
Description=Flask Application
After=network.target

[Service]
User=ubuntu
Group=ubuntu
WorkingDirectory=/var/lib/jenkins/workspace/jenkins-git-docker/app
Environment="PATH=/var/lib/jenkins/workspace/jenkins-git-docker/app/env/bin"
ExecStart=/var/lib/jenkins/workspace/jenkins-git-docker/app/env/bin/python3 /var/lib/jenkins/workspace/jenkins-git-docker/app/app.py

[Install]
WantedBy=multi-user.target